In [196]:
import pandas as pd
import numpy as np
import random as rd

In [197]:
df = pd.read_csv("house-details.csv")

/tmp/ipykernel_119873/3025330690.py:1: DtypeWarning: Columns (20) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv("house-details.csv")

In [198]:
df = df[["ST_NUM", "ROOF_STRUCTURE"]].dropna()

In [199]:
df = df.sample(n = 120)

In [200]:
df.loc[df["ROOF_STRUCTURE"] == "F - Flat", 'capacity'] = 916000 if rd.randint(0, 10) < 4 else 0
df.loc[df["ROOF_STRUCTURE"] == "H - Hip", 'capacity'] = 875000 if rd.randint(0, 10) < 5 else 0
df.loc[df["ROOF_STRUCTURE"] == "M - Mansard", 'capacity'] = 723000 if rd.randint(0, 10) < 4 else 0
df.loc[df["ROOF_STRUCTURE"] == "G - Gable", 'capacity'] = 645000 if rd.randint(0, 10) < 5 else 0
df.loc[df["ROOF_STRUCTURE"] == "L - Gambrel", 'capacity'] = 0
df.loc[df["ROOF_STRUCTURE"] == "S - Shed", 'capacity'] = 0
df.loc[df["ROOF_STRUCTURE"] == "O - Other", 'capacity'] = 0

In [201]:
df["street_num"] = df["ST_NUM"]
df = df.drop(["ST_NUM", "ROOF_STRUCTURE"], axis = 1)

In [202]:
df

        capacity  street_num
177871  645000.0        43.0
144536       0.0         3.0
167950       0.0        85.0
153643  645000.0       165.0
15335   645000.0        22.0
...          ...         ...
151241       0.0       226.0
3289         0.0        80.0
164860       0.0        14.0
19419        0.0         9.0
110737       0.0        26.0

[120 rows x 2 columns]

In [203]:
df[df["capacity"] == 0]

        capacity  street_num
144536       0.0         3.0
167950       0.0        85.0
68285        0.0       147.0
172003       0.0        22.0
84043        0.0       390.0
...          ...         ...
151241       0.0       226.0
3289         0.0        80.0
164860       0.0        14.0
19419        0.0         9.0
110737       0.0        26.0

[67 rows x 2 columns]

In [221]:
bpp = df[df["capacity"] != 0].reset_index()
bpp = bpp.drop("index", axis = 1)

In [222]:
bpp[:40].to_csv("bpp.csv")

In [223]:
bap = df[df["capacity"] == 0].reset_index()
bap = bap.drop(["index", "capacity"], axis = 1)

In [224]:
bap[:60].to_csv("bap.csv")