In [85]:
import pandas as pd
import numpy as np
import random as rd

In [86]:
df = pd.read_csv("house-details.csv")

/tmp/ipykernel_150050/3025330690.py:1: DtypeWarning: Columns (20) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv("house-details.csv")

In [87]:
df = df[["ST_NUM", "ROOF_STRUCTURE", "TOTAL_VALUE"]].dropna()

In [88]:
df.loc[df["ROOF_STRUCTURE"] == "F - Flat", 'capacity'] = 1529
df.loc[df["ROOF_STRUCTURE"] == "H - Hip", 'capacity'] = 277
df.loc[df["ROOF_STRUCTURE"] == "M - Mansard", 'capacity'] = 16
df.loc[df["ROOF_STRUCTURE"] == "G - Gable", 'capacity'] = 173
df.loc[df["ROOF_STRUCTURE"] == "L - Gambrel", 'capacity'] = 24
df.loc[df["ROOF_STRUCTURE"] == "S - Shed", 'capacity'] = 119
df.loc[df["ROOF_STRUCTURE"] == "O - Other", 'capacity'] = 42

df

        ST_NUM ROOF_STRUCTURE TOTAL_VALUE  capacity
0        104.0       F - Flat     792,000    1529.0
1        197.0       F - Flat     818,200    1529.0
2        199.0       F - Flat     804,400    1529.0
3        201.0    M - Mansard     735,300      16.0
4        203.0    M - Mansard     731,600      16.0
...        ...            ...         ...       ...
182233    18.0    L - Gambrel   1,115,300      24.0
182234    14.0        H - Hip           0     277.0
182235    14.0        H - Hip     545,100     277.0
182236    12.0        H - Hip     494,800     277.0
182239     4.0    L - Gambrel   1,314,900      24.0

[145737 rows x 4 columns]

In [89]:
df["street_num"] = df["ST_NUM"]
df = df.drop(["ST_NUM", "ROOF_STRUCTURE"], axis = 1)

In [90]:
df["TOTAL_VALUE"] = df["TOTAL_VALUE"].str.replace(',', '').astype(int)
df["TOTAL_VALUE"] = df["TOTAL_VALUE"] // 1000

buckets = [k * 1000 for k in range(0, 50)]
labels = [k * 1000 for k in range(1, 50)]
df["income_bucket"] = pd.cut(df["TOTAL_VALUE"], bins = buckets, labels = labels)

df

        TOTAL_VALUE  capacity  street_num income_bucket
0               792    1529.0       104.0          1000
1               818    1529.0       197.0          1000
2               804    1529.0       199.0          1000
3               735      16.0       201.0          1000
4               731      16.0       203.0          1000
...             ...       ...         ...           ...
182233         1115      24.0        18.0          2000
182234            0     277.0        14.0           NaN
182235          545     277.0        14.0          1000
182236          494     277.0        12.0          1000
182239         1314      24.0         4.0          2000

[145737 rows x 4 columns]

In [91]:
df = df.drop("TOTAL_VALUE", axis = 1)
df = df.dropna()

In [92]:
bpps = df.sample(frac = 0.3)
baps = df.drop(bpps.index)

In [93]:
bpps["street_num"].astype(int).to_csv("bpp-pos.csv", index=False)
bpps["capacity"].astype(int).to_csv("bpp-cap.csv", index=False)

In [94]:
baps["street_num"].astype(int).to_csv("bap-pos.csv", index=False)
baps["income_bucket"].astype(int).to_csv("bap-inc.csv", index=False)

In [99]:
df2 = pd.read_csv("utility-bills.csv")

df2[df2["EnergyTypeName"] == "Electric"]["TotalCost"].describe()

count    573859.000000
mean        719.902296
std        4331.557536
min       -2392.600000
25%          29.495000
50%          78.130000
75%         233.520000
max      299998.370000
Name: TotalCost, dtype: float64