In [1]:
import pandas as pd
import numpy as np
import random as rd

In [2]:
df = pd.read_csv("house-details.csv")

/tmp/ipykernel_98014/3025330690.py:1: DtypeWarning: Columns (20) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv("house-details.csv")

In [3]:
df = df[["ST_NUM", "ROOF_STRUCTURE"]].dropna()

In [4]:
df = df.sample(n = 1200) # CHANGE THIS FOR MORE AGENTS

In [5]:
df.loc[df["ROOF_STRUCTURE"] == "F - Flat", 'capacity'] = 9160 if rd.randint(0, 10) < 4 else 0
df.loc[df["ROOF_STRUCTURE"] == "H - Hip", 'capacity'] = 8750 if rd.randint(0, 10) < 5 else 0
df.loc[df["ROOF_STRUCTURE"] == "M - Mansard", 'capacity'] = 7230 if rd.randint(0, 10) < 4 else 0
df.loc[df["ROOF_STRUCTURE"] == "G - Gable", 'capacity'] = 6450 if rd.randint(0, 10) < 5 else 0
df.loc[df["ROOF_STRUCTURE"] == "L - Gambrel", 'capacity'] = 0
df.loc[df["ROOF_STRUCTURE"] == "S - Shed", 'capacity'] = 0
df.loc[df["ROOF_STRUCTURE"] == "O - Other", 'capacity'] = 0

In [6]:
df["street_num"] = df["ST_NUM"]
df = df.drop(["ST_NUM", "ROOF_STRUCTURE"], axis = 1)

In [7]:
df

        capacity  street_num
154863       0.0        48.0
53535        0.0       411.0
87890        0.0       126.0
60563        0.0       289.0
117854       0.0        43.0
...          ...         ...
128351       0.0        15.0
57575        0.0        48.0
11026     7230.0        30.0
56775        0.0         9.0
70519     7230.0         9.0

[1200 rows x 2 columns]

In [8]:
df[df["capacity"] == 0] # NUMBER OF BAPS

        capacity  street_num
154863       0.0        48.0
53535        0.0       411.0
87890        0.0       126.0
60563        0.0       289.0
117854       0.0        43.0
...          ...         ...
132683       0.0        57.0
86081        0.0       226.0
128351       0.0        15.0
57575        0.0        48.0
56775        0.0         9.0

[1087 rows x 2 columns]

In [9]:
bpp = df[df["capacity"] != 0].reset_index()
bpp = bpp.drop("index", axis = 1)

In [10]:
bpp[:100]["street_num"].to_csv("bpp-pos.csv") # CHANGE THE :100 BASED ON TOTAL - NUMBER OF BAP
bpp[:100]["capacity"].to_csv("bpp-cap.csv") # IN THIS LINE TOO

In [11]:
bap = df[df["capacity"] == 0].reset_index()
bap = bap.drop(["index", "capacity"], axis = 1)

In [12]:
bap[:900]["street_num"].to_csv("bap-pos.csv") # CHANGE THIS TO NUMBER OF BAP

In [ ]:
# REMEMBER TO CHANGE THE NUMBER OF BAPS AND BPPS IN CONFIG.YAML TOO